@charset "UTF-8";

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ffffff;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #0f1125;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 2500px;
  margin: 0 auto;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

.fullpage {
  margin: 0 auto;
}

/*
(i) Стили будут применяться к
всех классов, содержащих *__container
К примеру header__container, main__container и т.п.
Сниппет(HTML): cnt
*/

[class*=__container] {
  max-width: 101.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
  border: 2px solid transparent;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  border-radius: 180px;
}

.button--outline {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  padding: 29px 50px;
  border-color: rgba(123, 97, 255, 0.5);
  background-color: #0f1125;
}

.button--outline:focus {
  -webkit-filter: drop-shadow(0px 0px 8px #9d61ff);
          filter: drop-shadow(0px 0px 8px #9d61ff);
  border: 2px solid #9d61ff;
}

.button--outline-small {
  font-size: 1rem;
  line-height: 1.625;
  border-color: rgba(133, 88, 255, 0.5);
  color: rgba(133, 88, 255, 0.8);
  padding: 0.3125rem 1.40625rem;
}

.button--outline-small:focus {
  color: #9d61ff;
  border-color: #9d61ff;
}

.button--fill {
  position: relative;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  padding: 29px 50px;
  background: -o-radial-gradient(50% 96.85%, 87.77% 87.77%, #0070f4 0%, #8f56fb 100%);
  background: radial-gradient(87.77% 87.77% at 50% 96.85%, #0070f4 0%, #8f56fb 100%);
  border-color: rgba(123, 97, 255, 0.5);
  overflow: hidden;
}

.button--fill::after {
  content: "";
  position: absolute;
  left: 50%;
  top: -67px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-15.71%, rgba(255, 255, 255, 0.25)), color-stop(42.54%, rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.25) -15.71%, rgba(255, 255, 255, 0) 42.54%);
  background: linear-gradient(360deg, rgba(255, 255, 255, 0.25) -15.71%, rgba(255, 255, 255, 0) 42.54%);
  background-blend-mode: overlay;
  border-radius: 100px/60px;
  height: 117px;
  width: 318px;
}

.button--fill:focus {
  background: -o-radial-gradient(50% 96.85%, 87.77% 87.77%, #0070f4 0%, #8f56fb 100%);
  background: radial-gradient(87.77% 87.77% at 50% 96.85%, #0070f4 0%, #8f56fb 100%);
  border: 2px solid rgba(123, 97, 255, 0.5);
  -webkit-box-shadow: 0px 4px 10px #5c23ff;
          box-shadow: 0px 4px 10px #5c23ff;
}

.button._fw {
  width: 100%;
}

.fp-init body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

[data-fp] {
  min-height: 100vh;
}

.touch [data-fp] {
  min-height: calc(var(--vh, 1vh) * 100);
}

.fp-init [data-fp] {
  z-index: 1;
  -ms-touch-action: none;
      touch-action: none;
  position: relative;
  overflow: hidden;
}

.fp-switching [data-fp-section] {
  -ms-touch-action: none;
      touch-action: none;
}

.fp-init [data-fp-section] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.fp-init .slider-mode [data-fp-section],
.fp-init .cards-mode [data-fp-section] {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  -o-transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s, -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
}

.fp-init .fade-mode [data-fp-section] {
  -webkit-transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  -o-transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
}

.fp-bullets {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 2.5rem;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  gap: 0.625rem;
}

.fp-bullets .fp-bullet {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  border-radius: 0.625rem;
  background-color: #100c46;
  border: 0.0625rem solid #fff;
  opacity: 0.6;
  -webkit-transition: opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
  transition: opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
  -o-transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
}

.fp-bullets .fp-bullet-active {
  opacity: 1;
  background-color: #8558ff;
  -webkit-transform: translate3D(-0.3125rem, -0.125rem, 0);
      -ms-transform: translate3D(-0.3125rem, -0.125rem, 0);
          transform: translate3D(-0.3125rem, -0.125rem, 0);
  -webkit-box-shadow: 0.3125rem 0.125rem 0.1875rem #100c46, 0 0 1.875rem rgba(255, 255, 255, 0.8);
          box-shadow: 0.3125rem 0.125rem 0.1875rem #100c46, 0 0 1.875rem rgba(255, 255, 255, 0.8);
}

.section {
  font-size: 120px;
  color: #fff;
}

.section:nth-child(1) {
  font-size: 12px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.link._navigator-active {
  color: blue;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 28px 0;
  background-color: transparent;
  z-index: 99;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: block;
}

.header__logo img {
  width: 194px;
  height: 40px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.1875rem;
}

.header__callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.125rem;
}

.header__callback-phone {
  font-size: 1rem;
  line-height: 1.9375;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.menu__link {
  display: block;
  position: relative;
  font-size: 1rem;
  line-height: 1.9375;
  overflow: hidden;
}

.menu__link::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #8558ff;
  left: 0;
  bottom: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.4s ease 0s;
  -o-transition: 0.4s ease 0s;
  transition: 0.4s ease 0s;
}

.menu__link._navigator-active::after {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.icon-menu {
  display: none;
}

.hero {
  position: relative;
  z-index: 1;
}

.hero::after,
.hero::before {
  content: "";
  position: absolute;
  -webkit-filter: blur(175px);
          filter: blur(175px);
  width: 591px;
  height: 571px;
  z-index: -1;
}

.hero::after {
  background: #8650d9;
  top: 0;
  right: 0;
}

.hero::before {
  background: #5d3cbf;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 370px;
}

.hero__inner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  background-image: url("../img/backgrounds/bg-hero.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 1120px;
  z-index: -1;
}

.no-webp .hero__container{
  background-image: url("../img/phones.png"); }

.hero__container {
  height: 100%;
  background-repeat: no-repeat;
  background-position: top 125px right;
  background-size: 720px;
  z-index: 1;
}

.hero__main {
  padding-top: 175px;
}

.hero__main-subtitle {
  display: inline-block;
  font-size: 1.8125rem;
  line-height: 1.1034482759;
  letter-spacing: 0.41em;
  text-transform: uppercase;
  color: #8558ff;
  margin-bottom: 1.625rem;
}

.hero__main-subtitle span:last-child {
  position: relative;
  padding-left: 48px;
}

.hero__main-subtitle span:last-child::after {
  content: "";
  background-image: url("../img/icons/star.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 2px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-15deg);
      -ms-transform: translateY(-50%) rotate(-15deg);
          transform: translateY(-50%) rotate(-15deg);
  width: 22px;
  height: 22px;
}

.hero__main-title {
  font-weight: 800;
  font-size: 6.875rem;
  text-transform: uppercase;
  max-width: 693px;
  margin-bottom: 2rem;
}

.hero__main-title span {
  color: #8558ff;
}

.hero__main-descr {
  font-size: 1.25rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.8);
  max-width: 33.125rem;
  margin-bottom: 1.5rem;
}

.no-webp .hero__main-made{
  background: url("./img/flag.png"), rgba(255, 255, 255, 0.15); }

.hero__main-made {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 8px 8px 40px;
  background-repeat: no-repeat;
  background-position: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.7857142857;
  border: 0.09375rem solid rgba(255, 255, 255, 0.24);
  border-radius: 1.875rem;
}

.hero__main-buttons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5625rem;
  margin-top: 80px;
  width: 100%;
}

.hero__store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  position: absolute;
  right: 220px;
  top: 20px;
}

.hero__bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 62px;
  width: 100%;
  background-color: #8558ff;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 101.875em) {
  .fp-bullets {
    right: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fp] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .fp-bullets {
    top: auto;
    bottom: 1.25rem;
    -webkit-transform: translate(50%, 0);
        -ms-transform: translate(50%, 0);
            transform: translate(50%, 0);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    right: 50%;
  }
}

@media (any-hover: hover) {
  .button--outline:hover {
    border: 2px solid #7b61ff;
    -webkit-filter: drop-shadow(0px 0px 8px #7b61ff);
            filter: drop-shadow(0px 0px 8px #7b61ff);
  }

  .button--outline-small:hover {
    color: #8558ff;
    border-color: #8558ff;
  }

  .button--fill:hover {
    background: -o-radial-gradient(50% 96.85%, 87.77% 87.77%, #007ff4 0%, #b256fb 100%);
    background: radial-gradient(87.77% 87.77% at 50% 96.85%, #007ff4 0%, #b256fb 100%);
    border: 2px solid rgba(123, 97, 255, 0.5);
    -webkit-box-shadow: 0px 4px 10px #5c23ff;
            box-shadow: 0px 4px 10px #5c23ff;
  }

  .fp-bullets .fp-bullet:hover {
    opacity: 1;
  }
}

.webp .hero__container{ background-image: url(../img/phones.webp); }

.webp .hero__main-made{ background: url(./img/flag.webp), rgba(255, 255, 255, 0.15); }